body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #eee1d5;
}


.cabecalho {
  background-color: #9ab073;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Logo (imagem menor e alinhada) */
.cabecalho .logo img {
  height: 60px;
  width: auto;
}

/* Menu */
.menu {
  display: flex;
  gap: 25px;
}

.menu a {
  color: #393541;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  transition: color 0.3s;
}

.menu a:hover {
  color: #ffff;
  /* cor ao passar o mouse */
}

.login-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
  padding: 10px;
  background-color: #eee1d5;
}

.form-section {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 110px;
}

.form-section h1 {
  margin-bottom: 30px;
  color: #000;
  font-size: 26px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #000;
}

input[type="email"],
input[type="password"] {
  width: 250px;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  background-color: #fff;
  border-radius: 8px;
}

.right-section {
  width: 45%;
  text-align: center;
}

.icon-placeholder {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #3d3d3d;
  margin: 0 auto 20px;
  position: relative;
}

.icon-placeholder::after {
  content: "👥";
  font-size: 64px;
  color: #c48e67;
  position: absolute;
  top: 40px;
  left: 45px;
}

.slogan {
  font-weight: bold;
  margin: 15px 0;
}

.login-button {
  background-color: #826f66;
  color: white;
  border: none;
  padding: 12px 40px;
  font-weight: bold;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  width: 30%;
}

.signup-link {
  margin-top: 10px;
  font-size: 0.85em;
  color: #222;
}

.ent {
  color: aliceblue;
  text-decoration: none;
}

.rodape {
  background-color: #9ab073;
  color: black;
  text-align: center;
  padding: 20px 10px;
  font-size: 14px;
}

.rodape-conteudo p {
  margin: auto;
  line-height: 1.5;
}

.redes-sociais {
  margin: 10px 0;
}

.redes-sociais img {
  width: 20px;
  /* ou 20px se quiser ainda menor */
  height: auto;
  margin: 0 8px;
  vertical-align: middle;
}

.redes-sociais a:hover {
  transform: scale(1.2);
}